@import './themes/default.css';
@import './themes/dark.css';
@import './variables/global.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-primary);
  font-size: var(--font-line-l);
  line-height: var(--font-line-l);
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
}

a {
  color: inherit;
}

.app {
  min-height: 100%;
}