@font-face {
  font-family: Consolas;
  font-weight: 400;
  src: local('Consolas'),
    url('/public/fonts/Consolas.woff') format('woff'),
    url('/public/fonts/Consolas.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Consolas;
  font-weight: 700;
  src: local('Consolas'),
    url('/public/fonts/Consolas-Bold.woff') format('woff'),
    url('/public/fonts/Consolas-Bold.woff2') format('woff2');
  font-display: swap;
}

:root {
  --font-family-primary: 'Consolas', 'Times New Roman', sans-serif, system-ui, -apple-system;
  --font-size-s: 12px;
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-line-xl: 36px;
}