.inputWrapper {
    &.programmers {
        display: flex;
    }
}

.input {
    padding: 5px 10px;
    font-size: var(--font-size-m);
    border: 1px solid var(--outline-color);

    &:focus {
        outline: 1px solid var(--outline-color);
    }

    &::placeholder {
        font-size: var(--font-size-s);
    }
}

.caret {
    position: absolute;
    bottom: 7px;
    left: 1px;
    display: none;
    width: 12px;
    height: 2px;
    background-color: var(--primary-color);
    animation: animation-caret 0.8s forwards infinite;
}

.inputWrapperCaret {
    position: relative;

    .input {
        padding-left: 2px;
        background-color: transparent;
        border: none;
        outline: none;

        &:focus + .caret {
            display: block;
        }
    }

    .programmers {
        caret-color: transparent;

        &:focus {
            caret-color: transparent;
        }
    }
}

.placeholder {
    font-size: var(--font-size-m);
    line-height: var(--font-line-xl);
}

@keyframes animation-caret {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.01;
    }

    100% {
        opacity: 1;
    }
}
