.aside {
    position: relative;
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    padding: 20px;
    border-right: 1px solid var(--secondary-color);

    &.folded {
        flex-basis: 5%;

        .icon {
            transform: rotate(180deg);
        }
    }
}
