.aside {
  display: flex;
  flex-basis: 20%;
  padding: 20px;
  border-right: 1px solid var(--secondary-color);
  transition: .3s flex-basis;

  &.folded {
    flex-basis: 5%;
    transition: .3s flex-basis;

    .icon {
      transform: rotate(180deg);
    }
  }
}
