:root, body.default {
    --primary-bg-color: rgb(222 222 222);
    --secondary-bg-color:  rgb(14 15 17);
    --primary-color: rgb(19 20 23);
    --secondary-color: rgb(79 80 87);
    --accent-primary-color: rgb(217 0 18);

    --primary-button-color: #000;
    --secondary-button-color: #eeeeee;
}