.menuButton {
    position: absolute;
    top: 50%;
    right: 10px;
    align-self: center;
    width: 25px;
    height: 25px;
    transition: rotate .3s;
    transform: translate(0, -50%) rotate(90deg);

    &.folded {
        transition: rotate .3s;
        transform: translate(0, -50%) rotate(270deg);
    }
}
