.error {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    background-color: tomato;
}

.button {
    align-self: center;
    outline: 2px dotted #060910;
}